body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 30px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #38bdf8;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0ea5e9;
}

#themeBtn {
  background: #22c55e;
}

body.light {
  background: #f8fafc;
  color: black;
}

body.light .container {
  background: #e2e8f0;
}
